@use "../../styles/palette.scss"as *;

.coursePageContainer {
  @include flex-with-centering;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 130vh;
  background-color: $lime-palette;

  .title {
    @include flex-with-centering;
    padding: 2rem 0 0.5rem;
    font-size: 3.5rem;
  }

  .subtitle {
    @include flex-with-centering;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  .courseGridWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;

    max-width: 120rem;
    min-width: 30rem;
    height: min-content;
  }
}