@use "../../../styles/palette.module.scss"as *;

.workWrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  height: min-content;
  width: 100%;

  .title {
    @include section-title
  }

  .workSections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: min-content;
    width: 100%;

    .workSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}