@use "./palette.module.scss"as *;

.main {
  width: auto;
  min-height: 100vh;
  padding: 1rem;

  color: $gray;
  background-color: $purple;
}

.pageContent {
  display: flex;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}