@use "./palette.module.scss" as *;

.main {
  color: $gray;
  background-color: $purple;
  min-height: 100vh;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
  overflow: scroll;
  padding: 1rem;
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;

  section {
    margin: 15px 0;
    width: 100%;

    .sectionHeading {
      position: sticky;
      top: 4rem;
    }
  }
}

@media (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    height: 100vh;
  }

  .pageContent {
    padding: 1rem 1rem 1rem 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
  }

  .sectionHeading {
    display: none;
  }
}
