$black-palette: rgb(33, 24, 21);
$dark-gray-brown-palette: rgb(134, 121, 113);
$light-gray-brown-palette: rgb(192, 179, 167);
$shadow-gray-pallete: rgb(64, 64, 64);

$dark-red-brown-palette: rgb(112, 80, 67);
$dark-brown-palette: rgba(82, 72, 45, 1);
$brown-palette: rgb(117, 100, 84);
$dark-cream-palette: #a7955c;
$coffee-palette: #705641;
$cream-palette: rgb(252, 224, 138);
$eggshell-palette: rgb(243, 236, 228);

$dark-green-palette: rgb(97, 108, 102);
$green-palette: rgb(108, 134, 114);
$lime-palette: rgb(92, 167, 112);
$light-green-palette: rgba(172, 182, 158, 255);
$light-lime-palette: #8afca9;

$light-blue-palette: rgb(92, 110, 167);
$blue-palette: rgb(75, 85, 116);
$dark-blue-palette: rgb(45, 54, 82);

$red-palette: rgba(212, 163, 149, 255);
$orange-palette: rgba(226, 191, 167, 255);

$sans-font: 'Open Sans',
sans-serif;
$roboto-font: 'Roboto',
sans-serif;

@mixin flex-with-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}