$lg: #ffffffd0;
$g: #ffffff95;
$w: #FAFFFE;

// Beige and Cream Are Same for colorblindness 
// Red and Brown Are Almost Same for colorblindness

// Red

$r80: #4e1413;
$r70: #591716;
$r60: #641a18;
$r50: #6f1d1b;
$r40: #7d3432;
$r30: #7d3432;
$r20: #9a615f;
$r10: #a97776;

// Beige

$e90: #705934;
$e80: #83683d;
$e70: #967646;
$e60: #a8854e;
$e50: #bb9457;
$e40: #c29f68;
$e30: #c9a979;
$e20: #cfb489;
$e10: #d6bf9a;

// Brown

$b90: #28180e;
$b80: #2f1c11;
$b70: #362013;
$b60: #3c2416;
$b50: #432818;
$b40: #563e2f;
$b30: #695346;
$b20: #7b695d;
$b10: #7b695d;

// Orange

$o90: #5c3519;
$o80: #6b3e1d;
$o70: #7a4622;
$o60: #8a4f26;
$o50: #99582a;
$o40: #a3693f;
$o30: #ad7955;
$o20: #b88a6a;
$o10: #c29b7f;

// Cream

$c90: #998a64;
$c80: #b3a175;
$c70: #ccb886;
$c60: #e6cf96;
$c50: #ffe6a7;
$c40: #ffe9b0;
$c30: #ffebb9;
$c20: #ffeec1;
$c10: #fff0ca;

// Text weights
$bold: 700;
$regular: 400;
$light: 200;

@mixin flex-with-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-title {
  color: $w;
  font-style: normal;
  font-weight: 700;
  font-size: 1.325rem;
  line-height: normal;
}

@mixin box-wrapper {
  box-shadow: 1px 1px 2px 1px #00000075;
  border: solid 1px $b80;
}

@mixin red-box-wrapper {
  box-shadow: 1px 1px 2px 1px #00000075;
  border: solid 1px $r70;
}