$gray: #1b1919;
$green: #43F193;
$lime: #C1E4C8;
$purple: #81738C;
$white: #FAFFFE;

// Text weights
$bold: 700;
$regular: 400;
$light: 200;

@mixin flex-with-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-title {
  color: $white;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: normal;
}