$gray: #2F2F2F;
$green: #43F193;
$lime: #C1E4C8;
$purple: #81738C;
$white: #FAFFFE;

// Text weights
$bold: 700;
$regular: 400;
$light: 300;


$sans-font: 'Open Sans',
sans-serif;
$roboto-font: 'Roboto',
sans-serif;

@mixin flex-with-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-title {
  color: $white;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: normal;
  font-family: $roboto-font;
}