.cardWrapper {
  background-color: #e0e0e0;
  box-shadow: 0.25rem 0.25rem 0.325rem #818181;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.cardWrapper:hover {
  box-shadow: 0.325rem 0.325rem 0.375rem #696969;
}

.inProgress {
  background-color: #95eaff;
  border: 1px solid #00ccff;
}

.abandoned {
  background-color: #ff9595;
  border: 1px solid #ff0000;
}

.finished {
  background-color: #8dffa8;
  border: 1px solid #00ff3c;
}

.paused {
  background-color: #ffcb71;
  border: 1px solid #ffa200;
}

.default {
  background-color: #e0e0e0;
  border: 1px solid white;
}