@use "../../styles/palette.module.scss"as *;

.dividerWrapper {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .circle {
    width: 1rem;
    height: 1rem;
    fill: $white;
    filter: drop-shadow(#50455775 2px 2px);
    border: solid 1px #50455775;
    border-radius: 0.75rem;
  }
}