@use "../../styles/palette.module.scss"as *;

.dividerWrapper {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .circle {
    width: 1rem;
    height: 1rem;
    fill: $lg;
    filter: drop-shadow(#00000075 2px 2px);
    @include box-wrapper;
    border-radius: 0.75rem;
  }
}