@use "../../../styles/palette.scss"as *;

.courseBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  padding: 1rem;

  .title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    height: 2rem;
  }

  .professorTitle {
    font-size: 1.5rem;
  }

  .professorList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin-top: 0.5rem;
  }
}

.courseInfoTitle {
  font-size: 1.5rem;
  text-align: center;
}

.linkText {
  font-size: 1.25rem;
  font-weight: 525;
  color: black;

  text-align: center;
  width: 75%;
  border-left: 2px solid black;
  margin-left: 1rem;
}

.courseLink:hover {
  background-color: rgb(208, 208, 208);
  box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgb(80, 80, 80);
}

.projectGridWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;

  width: 70%;
  height: min-content;
  margin-bottom: 2rem;
  margin-left: 0.25rem;

  justify-content: space-evenly;
}

.courseDescriptionColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  margin-top: 2rem;

  .courseOverviewBody {
    white-space: normal;
  }
}

.courseOutcomesColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  margin-top: 2rem;
}

.courseInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  white-space: nowrap;
  width: 100%;
  gap: auto;
  line-height: normal;

  .courseOverview {
    width: 30%;
  }
}

.courseInfoTextGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  justify-self: end;

  width: 70%;
}

.courseLink {
  @include flex-with-centering;
  flex-direction: row;
  width: 30%;
  height: min-content;
  padding: 0.5rem;

  border: 0.25rem solid black;
  border-radius: 0.75rem;

  background-color: rgb(172, 172, 172);
  box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgb(88, 88, 88);
}

.lineDivider {
  width: 100%;
  height: 5px;
  align-self: center;
  margin-bottom: 0.75rem;


  background-color: white;
  border-radius: 2.5px;
}

.courseInfoTitleUnderline {
  width: 95%;
  height: 2px;
  align-self: center;
  margin-bottom: 0.5rem;


  background-color: white;
  border-radius: 1px;
}