@use "../../../styles/palette.module.scss"as *;

.jobCardWrapper {
  @include box-wrapper;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 18rem;
  max-width: 30rem;
  height: min-content;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
  background-color: $b50;

  .jobHeader {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .jobDate {
      gap: 5px;
      display: flex;
      flex-direction: row;
      color: $lg;
      font-weight: $light;
      font-size: 1rem;
    }
  }

  .jobTitle {
    color: $c20;
    font-weight: $bold;
    font-size: 1.125rem;
  }

  .jobCompany {
    color: $lg;
    font-weight: $light;
    font-weight: 400;
    font-size: 1rem;
  }

  .jobDescriptionSection {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: $regular;
    font-size: 0.875rem;

    .jobSectionTitle {
      color: $lg;
      font-weight: $bold;
      font-size: 1rem;
    }

    .listDescription {
      gap: 0.25rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .listItem {
        gap: 0.5rem;
        display: flex;
        flex-direction: row;

        .bullet {
          margin-left: 0.5rem;
          color: $g;
          font-size: 1rem;
        }
      }
    }
  }

  .techPillSection {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }
}