@use "../../../styles/palette.scss"as *;

@mixin section-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.jobBody {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  max-width: 70rem;
  padding: 0.5rem;

  background-color: #a4a1a1;

  .jobDescription {
    display: flex;
    flex-direction: column;

    .descriptionTopRow {
      @include section-flex;
    }

    .jobTitle {
      font-size: 1.75rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .companyAddress {
      margin-top: 0.25rem;
    }

    .companyName {
      font-size: 1.325rem;
    }

    .descriptionSupervisors {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;

      margin-top: 0.5rem;

      .supervisor {
        margin-bottom: 0.125rem;
      }
    }
  }
}

.sectionTitle {
  font-size: 1.325rem;
}

.listWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.lineDivider {
  width: 100%;
  height: 5px;
  align-self: center;
  margin: 0.75rem 0rem 1rem;

  background-color: #474138;
  border-radius: 2.5px;
}

.sectionLineDivider {
  width: 100%;
  height: 3px;
  align-self: center;
  margin: 0.25rem 0;

  background-color: #474138;
  border-radius: 2.5px;
}