@use "../../../styles/palette.module.scss"as *;

.header {
  display: flex;
  height: min-content;
  padding-bottom: 4.5rem;
  flex-direction: column;
  align-items: flex-start;
  max-width: inherit;

  .name {
    font-weight: $bold;
    font-size: 3rem;
    color: $white;
  }

  .profession {
    font-weight: $bold;
    font-size: 1.5rem;
    color: $white;
  }

  .studies {
    margin-top: 0.5rem;
    color: $gray;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }

  .links {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 15rem;
    margin: 1rem 0;

    .linkSvg {
      width: 2rem;
      height: auto;
    }
  }
}