.homeContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2.5rem;
  min-height: 48rem;
  padding: 2rem;

  background-color: #f0f0f0;

  .photoContainer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 40rem;
    gap: 2.5rem;

    font-size: 1.25rem;
  }

  .bottomPhotoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  .introductionContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: inherit;
    color: black;
    font-size: 1.375rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .homeContainer {
    gap: 1rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    min-height: 48rem;
    padding: 2rem;
  
    background-color: #f0f0f0;
  
    .photoContainer {
      max-width: 100%;
      justify-items: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    min-height: 48rem;
    padding: 2rem;
  
    background-color: #f0f0f0;
  
    .photoContainer {
      max-width: 100%;
      justify-items: center;
    }

    .bottomPhotoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 2.5rem;
    }
  }
}