@use "../../styles/palette.scss"as *;

.projectPageContainer {
  @include flex-with-centering;
  justify-content: flex-start;
  flex-direction: column;

  padding-bottom: 3rem;
  background-color: #74799e;
  color: black;

  .title {
    @include flex-with-centering;
    padding: 2rem 0 0.5rem;
    font-size: 3.5rem;
  }

  .subtitle {
    @include flex-with-centering;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  .projectGridWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    max-width: 90rem;
    min-width: 30rem;
    height: min-content;

    justify-content: center;
  }
}