@use "../../styles/palette.scss"as *;

.coursePageContainer {
  @include flex-with-centering;
  justify-content: flex-start;
  flex-direction: column;

  min-height: 130vh;
  padding-bottom: 3rem;
  background-color: #717c93;
  color: black;

  .title {
    @include flex-with-centering;
    padding: 2rem 0 0.5rem;
    font-size: 3.5rem;
  }

  .subtitle {
    @include flex-with-centering;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  .semesterWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 98%;
    justify-self: center;

    .semester {
      background: linear-gradient(to bottom, #dadadd, #9c9ca4, #7a859a);
      border: 1px solid #d6d6d9;
      border-radius: 0.5rem;
      box-shadow: 0.15rem 0.15rem 0.25rem 0.15rem #545d6f;
      padding: 0;

      .semesterTitleWrapper {
        display: flex;
        padding: 1rem 2rem 1rem;
        background-color: #dcdbdc;
        color: black;
        border-radius: inherit;
        border-bottom: 1px solid #d6d6d9;
        align-items: center;
        gap: 1rem;
        width: 100%;
        font-size: 3rem;
      }

      .semesterTitleWrapper:hover {
        background-color: #f4f4f4;
        box-shadow: 0.175rem 0.175rem 0.275rem 0.175rem #545d6f;
      }

      .semesterTitleWrapperOpen {
        box-shadow: 0 0.2rem #908d90;
      }

      .semesterTitleWrapperOpen:hover {
        background-color: #f0f0f0;
        box-shadow: 0 0.275rem #908d90;
      }
    }
  }
}

@media screen and (min-width: 901px) {
  .courseWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;

    width: 95%;
    height: min-content;
  }
}

@media screen and (max-width: 900px) {
  .courseWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;

    width: 100%;
    height: min-content;
  }
}