@use "../../styles/palette.scss"as *;

.coursePageContainer {
  @include flex-with-centering;
  justify-content: flex-start;
  flex-direction: column;

  min-height: 130vh;
  padding-bottom: 3rem;
  background-color: $lime-palette;

  .title {
    @include flex-with-centering;
    padding: 2rem 0 0.5rem;
    font-size: 3.5rem;
  }

  .subtitle {
    @include flex-with-centering;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  .semesterWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;

    .semester {
      background-color: rgb(105, 182, 126);
      border-radius: 1rem;
      box-shadow: 0.25rem 0.25rem 0.325rem 0.25rem rgb(92, 161, 110);

      .semesterTitleWrapper {
        display: flex;
        padding: 1rem 2rem 1rem;
        border-radius: inherit;
        align-items: center;
        gap: 1rem;
        width: 100%;
        font-size: 3rem;
      }

      .semesterTitleWrapperOpen {
        box-shadow: 0 0.125rem rgb(92, 161, 110);
      }

      .semesterTitleWrapperOpen:hover {
        background-color: rgb(113, 194, 135);
        box-shadow: 0 0.25rem rgb(92, 161, 110);
      }
    }

    .semesterHover:hover {
      background-color: rgb(113, 194, 135);
      box-shadow: 0.325rem 0.325rem 0.5rem 0.325rem rgb(65, 122, 80);
    }
  }
}

@media screen and (min-width: 901px) {
  .courseWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;

    width: 95%;
    padding: 0 5%;
    height: min-content;
  }
}

@media screen and (max-width: 900px) {
  .courseWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;

    width: 100%;
    height: min-content;
  }
}