@use "../../../styles/palette.scss"as *;

@media screen and (min-width: 1301px) {

    .contacts {
        display: grid;
        align-content: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);

        height: 8rem;
        width: 100%;

        gap: 0.325rem;

        // @include button-hover;

        .contactCard {
            display: flex;
            align-items: center;

            width: 19.5rem;
            height: 3rem;

            box-shadow: 0.125rem 0.125rem 0.125rem rgb(29, 36, 56);
            background-color: rgb(87, 99, 134);

            .contactText {
                @include flex-with-centering;
                width: 100%;

                font-size: 1.25rem;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {

    .contacts {
        display: grid;
        align-content: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);

        height: 8rem;
        width: 100%;

        padding: 0 1rem;
        gap: 0.325rem;

        // @include button-hover;

        .contactCard {
            display: flex;
            align-items: center;

            width: 16rem;
            height: 3rem;

            box-shadow: 0.125rem 0.125rem 0.125rem rgb(29, 36, 56);
            background-color: rgb(87, 99, 134);

            .contactText {
                @include flex-with-centering;
                width: 100%;

                font-size: 1rem;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 1101px) {
    .footerContainer {
        @include flex-with-centering;

        width: 100%;
        height: 12rem;
        position: absolute;

        background-color: #754F5B;
        font-family: $roboto-font;

        .contactsContainer {
            @include flex-with-centering;
            justify-content: space-around;
            flex-direction: column;

            height: inherit;
            width: 50%;

            .contactHeader {
                @include flex-with-centering;

                height: 3rem;
                width: stretch;

                font-size: 1.5rem;
            }
        }

        .githubRepo {
            @include flex-with-centering;

            background-color: #A0878F;

            width: 50%;
            height: inherit;

            .deprecatedSiteImg {
                @include flex-with-centering;
                width: 30%;

                img {
                    border-radius: 50%;
                    border: 0.25rem rgb(22, 27, 43) solid;
                    box-shadow: 0.25rem 0.25rem 0.25rem rgb(29, 36, 56),
                        -0.125rem -0.125rem 0.125rem rgb(29, 36, 56);
                }
            }

            .deprecatedSite {
                @include flex-with-centering;
                flex-direction: column;
                height: inherit;
                width: 70%;

                .deprecatedSiteDescription {
                    @include flex-with-centering;
                    text-align: center;
                    margin: 0 1.5rem 2rem;
                    height: 6rem;
                }

                // @include button-hover;
            }
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    .footerContainer {
        @include flex-with-centering;

        width: 100%;
        height: 14rem;
        position: absolute;

        background-color: #754F5B;
        font-family: $roboto-font;

        .contactsContainer {
            @include flex-with-centering;
            flex-direction: column;

            width: 50%;
            height: inherit;

            .contactHeader {
                font-size: 1.375rem;
                margin: 0 auto 0.25rem;
            }

            .contacts {
                display: flex;

                flex-direction: column;

                align-content: center;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);

                height: 10rem;
                width: 90%;
                gap: 0.325rem;

                .contactCard {
                    display: flex;
                    align-items: center;

                    width: 100%;
                    height: 3rem;

                    box-shadow: 0.125rem 0.125rem 0.125rem rgb(29, 36, 56);
                    background-color: rgb(87, 99, 134);

                    .contactText {
                        @include flex-with-centering;
                        width: inherit;

                        font-size: 1rem;
                        color: white;
                    }
                }

                // @include button-hover;
            }
        }

        .githubRepo {
            @include flex-with-centering;

            background-color: #A0878F;

            width: 50%;
            height: inherit;

            .deprecatedSiteImg {
                display: none;
            }

            .deprecatedSite {
                @include flex-with-centering;
                flex-direction: column;
                height: inherit;
                width: 75%;

                .deprecatedSiteDescription {
                    @include flex-with-centering;
                    text-align: center;
                    margin-bottom: 2rem;
                    height: 6rem;
                }
            }

            // @include button-hover;
        }
    }
}

@media screen and (max-width: 700px) {
    .footerContainer {
        @include flex-with-centering;
        justify-content: space-between;
        flex-direction: column;

        width: 100%;
        height: 25rem;
        position: absolute;

        background-color: #754F5B;
        font-family: $roboto-font;

        .contactsContainer {
            @include flex-with-centering;
            flex-direction: column;

            width: inherit;
            margin: 1rem 0;

            .contactHeader {
                font-size: 1.375rem;
                margin: 0 auto 0.25rem;
            }

            .contacts {
                display: flex;

                flex-direction: column;

                align-content: center;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);

                height: 12rem;
                width: 90%;
                gap: 0.5rem;

                .contactCard {
                    display: flex;
                    align-items: center;

                    width: 100%;
                    height: 4rem;

                    box-shadow: 0.125rem 0.125rem 0.125rem rgb(29, 36, 56);
                    background-color: rgb(87, 99, 134);

                    .contactText {
                        @include flex-with-centering;
                        width: inherit;

                        font-size: 1.25rem;
                        color: white;
                    }
                }

                // @include button-hover;
            }
        }

        .githubRepo {
            @include flex-with-centering;

            background-color: #A0878F;

            width: inherit;

            .deprecatedSiteImg {
                display: none;
            }

            .deprecatedSite {
                @include flex-with-centering;
                flex-direction: column;
                width: inherit;
                height: 9rem;

                .deprecatedSiteDescription {
                    @include flex-with-centering;
                    text-align: center;

                    margin-bottom: 0.5rem;

                    height: 4rem;
                    width: 75%;
                }

                // @include button-hover;
            }
        }
    }
}

.contactImage {
    @include flex-with-centering;
    margin-left: 0.1875rem;
    width: 3rem;

    img {
        border-radius: 4px;
    }
}

.deprecatedSiteLink {
    @include flex-with-centering;
    width: 15rem;
    height: 2rem;

    margin: 0 1rem;

    box-shadow: 0.125rem 0.125rem 0.125rem rgb(29, 36, 56);
    background-color: rgb(87, 99, 134);

    .deprecatedSiteLinkText {
        @include flex-with-centering;
        width: stretch;
        height: 2rem;
    }
}