@use "../../../styles/palette.module.scss"as *;

.projectCardWrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: min-content;
  padding: 0.75rem 0.5rem;
  border: solid 1px #50455775;
  border-radius: 5px;
  background-color: #50455750;
  box-shadow: 1px 1px 1px 1px #50455775;

  .projectHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    .projectTitle {
      color: $lime;
      font-weight: $bold;
      font-size: 1rem;
    }
  }

  .topPillRow {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }

  .projectDescriptionSection {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .slide-in-top {
      -webkit-animation: slide-in-top .5s cubic-bezier(.165, .84, .44, 1.000);
      animation: slide-in-top .5s cubic-bezier(.165, .84, .44, 1.000);
    }

    @-webkit-keyframes slide-in-top {
      0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
      }

      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
      }
    }

    @keyframes slide-in-top {
      0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
      }

      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
      }
    }

    .slide-out-top {
      -webkit-animation: slide-out-top .5s cubic-bezier(.165, .84, .44, 1.000) reverse;
      animation: slide-out-top .5s cubic-bezier(.165, .84, .44, 1.000) reverse
    }

    @-webkit-keyframes slide-out-top {
      0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
      }

      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
      }
    }

    @keyframes slide-out-top {
      0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
      }

      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
      }
    }

    .projectSectionTitle {
      color: $white;
      font-weight: $bold;
      font-size: 0.875rem;
      
    }
  }

  .projectImageSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .supportingImg {
      width: 100%;
      max-width: 400px;
      height: auto;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px #50455775;
      border: 1px solid #ffffff50;
    }
  }

  .linkPillSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    gap: 0.5rem;
  }

  .techPillSection {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }
}

.projectBody:before {
  max-height: 10rem;
  overflow: hidden;
}

.projectBodyOpen {
  
}