@use "../../../styles/palette.module.scss"as *;

.projectCardWrapper {
  @include box-wrapper;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 18rem;
  max-width: 30rem;
  height: min-content;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
  background-color: $b50;

  .projectHeader {
    row-gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .projectTitle {
      max-width: 220px;
      color: $c20;
      font-weight: $bold;
      font-size: 1.125rem;
    }

    .linkPillSection {
      gap: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      align-self: stretch;
    }
  }

  .topPillRow {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }

  .projectDescriptionSection {
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .projectSectionTitle {
      margin-bottom: 0.5rem;
      color: $lg;
      font-weight: $bold;
      font-size: 1rem;
    }

    .projectDescription {
      color: $g;
      font-weight: $regular;
      font-size: 0.875rem;
      line-height: normal;
    }

    .listDescription {
      gap: 0.25rem;
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;


      .listItem {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: 0.875rem
      }
    }
  }

  .projectImageSection {
    gap: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .supportingImg {
      @include box-wrapper;
      width: auto;
      max-height: 125px;
      border-radius: 5px;
    }
  }

  .techPillSection {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }
}