@use "../../../styles/palette.module.scss"as *;

.projectCardWrapper {
  gap: 1rem;
  display: flex;
  min-width: 18rem;
  max-width: 30rem;
  flex-direction: column;
  align-items: flex-start;
  height: min-content;
  padding: 0.75rem 0.5rem;
  border: solid 1px #50455775;
  border-radius: 5px;
  background-color: #50455750;
  box-shadow: 1px 1px 1px 1px #50455775;

  .projectHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    row-gap: 1rem;

    .projectTitle {
      color: $lime;
      font-weight: $bold;
      font-size: 1rem;
      max-width: 220px;
    }

    .linkPillSection {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      align-self: stretch;
      gap: 0.5rem;
    }
  }

  .topPillRow {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }

  .projectDescriptionSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;

    .projectSectionTitle {
      color: $white;
      font-weight: $bold;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
  }

  .projectImageSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 0.25rem;

    .supportingImg {
      max-height: 125px;
      width: auto;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px #50455775;
      border: 1px solid #ffffff50;
    }
  }

  .techPillSection {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
  }
}

.projectBody:before {
  max-height: 10rem;
  overflow: hidden;
}

.projectBodyOpen {
  
}