@use "../../../styles/palette.module.scss"as *;

.statusPill {
  gap: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  padding: 0.25rem 0.375rem;
  border-radius: 0.75rem;
  background: $r40;
  @include red-box-wrapper;

  .statusPillText {
    height: 1rem;
    color: $lg;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: normal;
  }
}