@use "../../../styles/palette.module.scss"as *;

.linkPill {
  gap: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  padding: 0.25rem 0.375rem;
  border-radius: 0.75rem;
  border: solid 1px $o40;
  background-color: $o70;
  box-shadow: 1px 1px 2px 1px #00000075;

  .linkPillText {
    height: 1rem;
    color: black;
    font-weight: $bold;
    font-size: 1rem;
    text-decoration: none;
  }
}

.linkPill:hover {
  text-decoration: none;
  border: solid 1px $o20;
  background-color: $o40;
  box-shadow: 2px 2px 4px 2px #00000075;
}